.container {
    background-color: white;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(238, 224, 224, 0.1);
}

h1{
    font-weight: bold;
    color: coral !important;
    margin-right: 55%;
    margin-bottom: 20px;
}

h3{
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}


.form-row {
    display: flex;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    margin-right: 15px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

.radio-group label {
    margin-right: 15px;
}

.book-now-btn {
    padding: 10px 20px;
    background-color: black !important;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.book-now-btn:hover {
    background-color: #0056b3;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
}

h3{
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group label {
    margin-right: 15px;
}

.book-now-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.book-now-btn:hover {
    background-color: #0056b3;
}
.hidden {
    display: none;
  }

  .message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.message-box p {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
}

.message-box button {
    font-size: large;
    font-weight: bold;
    margin-left: 42%;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

