
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cinzel:wght@600&family=Orbitron&family=Pacifico&family=Rubik+Broken+Fax&family=Rubik+Glitch&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cinzel:wght@600&family=Orbitron&family=Pacifico&family=Rubik+Broken+Fax&family=Rubik+Glitch&family=Satisfy&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cinzel:wght@600&family=Dancing+Script:wght@400..700&family=Orbitron&family=Pacifico&family=Rubik+Broken+Fax&family=Rubik+Glitch&family=Smooch&display=swap');
*{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
body {
    margin: 0;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.navbar {
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.navbar button {
    float: left;
    background-color: transparent;
    border: none;
    color: #f2f2f2;
    cursor: pointer;
    font-size: 30px;
    outline: none;
}

.opt {
    color: #f2f2f2;
}

.opt:hover {
    text-decoration: underline;
}

.navbar .brand {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    padding-left: 1px;
    text-decoration: none;
    font-weight: bold;
}

.navbar .options {
    float: right;
}

.paw {
    height: 55px;
    margin-top: 0.1rem;
}

.full-width-image {
    position: relative;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    background-color: #000000;
    margin-bottom: 20px;
}

.full-width-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    background-color: #000000;
}
.adopt-button {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 27px;
    font-weight: bold;
    opacity: 0.9;
    z-index: 1;
}

.container {
    text-align: center;
}

.title {
    color: black;
    font-size: 7.5vh;
    font-weight: bold;
    margin-bottom: 20px;
}
.button-row {
    display: flex;
    justify-content: center;
    margin-bottom: 90px; /* Adjust margin between button rows */
}

.circle-button {
    width: 35vh;
    height: 35vh;
    border-radius: 50%;
    background-color:    #4a4e69;
    color: white;
    border: none;
    margin: 0 60px; /* Adjust margin between buttons */
    cursor: pointer;
    font-size: 35px;
    box-shadow:15px 10px 10px #E29578;
}


.title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    max-width: 400px;
    padding: 40px;
    margin: 35px;
    border: 1px solid  white;
    border-radius: 30px;
    background-color: #c9ada7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    background-color: white;
}

.card-title {
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}

.card-description {
    font-size: 1.4rem;
    color: black;
}

/* Common styles for the footer */
.footer {
    background-color: #E5E5E5;
    padding: 20px;
    font-size: 14px;
    text-align: center;
  }
  
  /* Grid layout for footer content */
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  /* Styles for each column in the footer */
  .footer-column {
    text-align: left;
    font-size: medium;
    font-weight:bold;
  }
  
  .footer-column h2{
    margin-left: 20px;
  }
  /* Link styles */
  .footer-column a {
    color: #000000;
    text-decoration: none;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }
  
  /* Bottom section of the footer */
  .footer-bottom {
    margin-top: 20px;
    color: #666;
  }
  
  .footer-bottom a {
    color: black;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    text-decoration: none;
  }
  
  .slider-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .slider-button:hover {
    background-color: #555;
  }
  
  
  header {
    background-color: #000000;
    color: white;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column; /* Change from row to column */
    padding: 1rem;
}

.accessories-container, .food-container, .toys-container, .groom-container, .book-container {
    flex: 1 1 75%; /* Take up 75% of main container */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.accessories-container, .toys-container, .book-container{
    background-color:    #4a4e69;
    padding: 20px;
}

.accessories-container h2, .food-container h2 , .toys-container h2, .groom-container h2, .book-container h2{
    width: 100%;
    margin-bottom: 1rem;
    font-size: 250%;
}

.food-container, .groom-container{
    background-color:    #9a8c98;
    padding: 20px;
}
/* Existing CSS styles */

.product {
    background-color: #E5E5E5;
    border: 1px solid black;
    flex: 0 0 calc(33.33% - 2rem);
    margin-bottom: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center; /* Center align content */
}

.product img {
    width: 300px; /* Set a fixed width */
    height: 300px; /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
    margin-bottom: 1rem; /* Add space below image */
}

.product h2 {
    margin: 0;
    font-size: 1.8rem; /* Adjust font size */
}

.product p {
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold; /* Adjust font size */
    margin-bottom: 3vh;
}
.green{
    color: darkgreen;
}

.product button {
    background-color: #FCA311;
    border: none;
    color: white;
    padding: 0.5rem 1rem; /* Adjust padding */
    cursor: pointer;
    font-size: 1.2rem; /* Adjust font size */
    transition: background-color 0.3s;
}

.product button:hover {
    background-color:    #ca6702;
    color: white;
}


aside {
    position: fixed;
    top: 50%;
    right: 0;
    height: 50%;
    width: 25%; /* Take up 25% of main container */
    background-color: #f9eae1;
    border: 1px solid black;
    padding: 1rem;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    overflow-y: auto; /* Enable vertical scroll if content exceeds the height */
}

aside.open {
    transform: translateX(0);
}

aside h2 {
    margin: 0;
}
#open-cart {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #000000;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

#close-cart {
    background-color: #570000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#buy-now {
    background-color: #570000;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 1rem;
    cursor: pointer;
}

img{
    height: 50%;
    width: 80%;
}

.image-container {
    width: 100%; /* adjust as needed */
    height: auto; /* adjust as needed */
}
.image-container img {
    width: 100%; /* adjust as needed */
    height: auto; /* adjust as needed */
    display: block;
    margin: 0 auto; /* to center the image horizontally */
}

.chat-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 30px; /* This gives the button rounded corners */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow effect */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .chat-button img {
    width: 40px;
    height: 40px;
  }
  
  .chat-box {
    position: fixed;
    bottom: 100px; /* Adjust the position as needed */
    left: 20px;
    width: 300px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
    background-color: white;
    border-radius: 10px;
    border: 2px solid black; /* Set the border color to black */
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5); /* Add a glowing effect */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center the text horizontally */
  }
  
  
  .hidden {
    display: none;
  }


.product button:hover{
    transform: scale(1.1);

}

.product button{
    transition: transform 0.3s ease;
}

#message-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(247, 242, 242);
    border: 1px solid black;
    z-index: 9999; /* Ensure message box appears above other content */
  }
  
  #message-box button {
    margin-top: 10px;
  }

  .injury button{
    border-radius: 3px;
    margin-left: 45%;
    font-size: large;
    padding: 8px;
  }

  .injury p{
    font-size: larger;
    font-weight: bold;
  }



